<template>
    <div class="cart-item-cart">
        <div class="header">
            <h3>{{ product.name}}</h3>
            <h4>InCart: {{product.quantity}}</h4>
            <h4>Total Cost: {{ item_cost.toFixed(2)}}</h4>
        </div>  
        <p>{{description}}</p>
    </div>    
</template>

<script>
 export default{
    props:['product'],
    computed:{
        description(){
            return this.product.description.substring(0,129)
        },
        item_cost(){
            return this.product.price*this.product.quantity
        }
    }
 }
</script>

<style>
</style>
