<template>
    <div>
        <h1>Your Cart</h1>
        <!-- <div v-for="product in items" :key="product.name">
           {{product.name}}
        </div> -->
        <CartItemCard 
            v-for="product in items"
            :key="product.id"
            :product="product"
        />
    </div>
</template>

<script>
import CartItemCard from '../components/cart/CartItemCard'
export default{
    components: {
        CartItemCard
    },
    computed:{
        items(){
            return this.$store.getters.cartItems
        }
    }
}
</script>